body { 
  font-family: 'Times New Roman', Times, serif; 
  background-color: #d9d9d9;
  margin: 0;
}

@font-face {
  font-family: Bukhari-Script;
  src: url('BukhariScript-Regular.ttf') format('truetype');
}

.scene {
  display: inline-block;
  width: 200px;
  height: 300px;
  margin: 40px 20px;
  perspective: 600px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  transform-style: preserve-3d;
  transform-origin: center right;
  transition: transform 1s;
}

.card.is-flipped {
  transform: translateX(-100%) rotateY(-180deg);
}

.card__face {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 5px 5px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 40px;
  backface-visibility: hidden;
}

.card__face--front {
  background-image: url("https://github.com/auliaardan/PDKT-CardGame/blob/main/assets/Back.png?raw=true");
  background-color: #00f7ff; 
  height: 100%; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
}

.card__face--back {
  background-image: url('https://github.com/auliaardan/PDKT-CardGame/blob/main/assets/Front.png?raw=true');
  background-color: #09f7bb; 
  height: 100%; 
  background-position: center; 
  background-repeat: no-repeat; 
  background-size: cover; 
  transform: rotateY(180deg);
}

.turn-off{
  display: none !important;
}

.turn-on{
  display: block !important;
}

.card-holder{
  display: none;
}

header{
  background-color: #cb6ce6;
  padding: 10px 2px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

header h1{
  font-family: 'Bukhari-Script';
  color: azure;
}

.img-logo{
  margin: 0px 5px;
  display: inline;
  width: 100px;
}

main{
  margin: 50px 20px;
  display: flex;
  flex-direction: row;
}

.countdown{
  font-family: 'Bukhari-Script';
  color: white;
  text-shadow: 2px 2px #fd6155 ;
  transform: rotate(-20deg);
}

.content{
  display: flex;
  flex-direction: column;
}

#startButton{
  background-color: #cb6ce6;
  color: white;
  font-family: 'Bukhari-Script';
  border-radius: 10px;
  padding: 5px 30px;
  white-space: nowrap;
}

footer{
  background-color: #ff66c4;
}

@media screen and (max-width: 1020px) {

}

@media screen and (max-width: 670px) {
  main{
    margin: 50px 10px;
  }
}